
.card {
  
  -fx-background-color: #f3f6dd ;
  -fx-font-weight: bold;
  -fx-border-width: 1px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-font-size: 16px;
  -fx-text-fill: #d68301 ;
  
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 0);
  
}

.card:hover {
  
  -fx-background-color: rgb(253, 215, 0);
  
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0, 0, 0);

}

.button_classique {

    -fx-background-color: #d8d8d5 ;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: #d68301 ;

    -fx-spacing: 10px ;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 0);

}

.text {

  -fx-text-fill: #d68301 ;
  -fx-font: 30 arial; 
  -fx-font-weight: bold;

}

.menu, .menu-item, .context-menu {
  -fx-background-color: #54ABAC ;
  -fx-padding: 0;
}

.bottom_button {

  -fx-padding: 10 10 10 10 ;
  -fx-margin: 0 0 10 0 ;
  -fx-border-radius: 0px;

  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;

  -fx-text-fill: black !important ;

}
